.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.post-card {
  margin: 10px 20px;
  width: 30rem;
}
.post-tag {
  margin: 0px 5px;
}
.post-create-form{
  width: 80%;
  margin: 10px 10%;
}